body {
 font:100%/1.5em 'Open Sans', sans-serif;
 color:#333;
 margin:0;
 padding:0;
 background-color:#525855;
 background-repeat:repeat
}

/*Menu Bar*/
header {
 width:100%;
 margin-top:53px;
 padding-bottom:8px;
 position:relative
}
header #offset {
 width:858px;
 margin:0 auto 13px auto
}
header #links {
 width:720px;
 height:44px;
 font-size:20px;
 margin-left:140px;
 border-top:1px solid #777;
 border-bottom:1px solid #777;
 position:relative;
 overflow:visible;
 text-transform:uppercase;
 font-family:'Vollkorn', serif
}
header #links a {
 color:#cacaca;
 text-decoration:none
}
#links a:hover,
#links a.hover,
body.about #links .about a,
body.software #links .software a,
body.stories #links .stories a,
body.projects #links .projects a {
 color:#fff;
 text-shadow:0 0 3px #1b1b1b
}
#links a.home {
 text-indent:-9999px;
 margin-top:-22px;
 display:block;
 width:83px;
 height:84px;
 background-image:url("assets/logo.png");
 margin-left:-20px;
 z-index:200;
 position:relative
}
#links #offstamp {
 margin-left:auto;
 margin-right:auto;
 width:100px
}
#links ul {
 position:absolute;
 left:5px;
 top:8px;
 width:100%;
 padding:5px 0 0 0;
 margin:0;
 z-index:100;
 list-style-type: none /*no bulletpoints*/
}
#links .about,
#links .stories {
 float:left
}
#links .projects,
#links .software {
 float:right
}
#links .about {
 padding:0 20px 0 0px /*pading:top right bottom left*/
}
#links .stories {
 background-position:left 5px;
 padding:0 20px 0 0px
}
#links .projects {
 background-position:left 5px;
 padding:0 20px 0 0px
}
#links .software {
 background-position:right 5px;
 padding:0 20px 0 0px
}
/*Arrow*/
header .arrow {
 position:absolute;
 bottom:-1px;
 display:none
}
body.about header .arrow {
 left:220px;
 display:block
}
body.stories header .arrow {
 left:310px;
 display:block
}
body.projects header .arrow {
 left:710px;
 display:block
}
body.software header .arrow {
 left:825px;
 display:block
}
/*Content*/
#container {
 width:968px;
 margin:0 auto
}
.content-area {
 float:left;
 background-color:white;
 border:7px solid #d3d3d3;
 box-shadow:3px 4px 2px #444;
 position:relative;
 overflow:visible
}
.content-area img.bookmark {
 position:absolute;
 top:-10px;
 left:20px
}
.content-area h1 {
 margin-left:80px;
 margin-top:18px
}
.entry {
 margin-left:15px;
 margin-right:15px
}
/*Side*/
.main {
 width:662px;
 float:left;
 min-height:680px;
 padding-bottom:10px;
 margin-left:auto;
 margin-right:auto
}
/*About Photo Frame*/
#bio .portrait {
 float:left;
 margin-right:15px;
 margin-left: 15px;
 margin-top:7px
}
#bio p {
 margin-left:15px;
 margin-right:15px
 }
/*Info Photo Frame*/
.portrait {
 padding:6px;
 box-shadow:0px 0px 5px #888;
 display:block
}
#info {
 width:248px;
 margin-left:24px;
 overflow:hidden;
 font-size:75%
}
#info aside {
 margin:7px;
 margin-top:20px
}
#info h1 {
 margin-top:15px;
 margin-left:7px;
 color:#aaaaaa
}
#info img {
 margin-left:15px;
 margin-right:15px;
}

/*Footer*/
footer {
 width:662px;
 clear:both;
 color:#b3b2b2;
 font-size:11px;
 padding:10px;
 margin-bottom:50px
}
footer a {
 color:inherit;
 text-decoration:none
}
footer a:hover {
 color:#fff;
 text-shadow:0 0 3px #1b1b1b
}
footer .copyright {
 float:left
}
footer ul {
 list-style-type:disc;
 float:right;
 padding:0;
 margin:0
}
footer li {
 margin-left:30px;
 padding-left:4px;
 float:left
}
